/**
* @name Better Badges Gamma
* @author Colonel_Gerdauf#8888
* @version 1.3.3
* @description A theme which adds cool animations to discord's badges!
* @source https://github.com/ColonelGerdauf/Better-Badges
* @updateUrl https://github.com/ColonelGerdauf/Better-Badges/blob/main/BetterBadgesGamma.theme.css
*/

@import url('https://cdn.jsdelivr.net/gh/ColonelGerdauf/Better-Badges/src/badges.css');

:root{
    --badge-size: 22px; /* discord defualt = 18px, theme defualt = 22px */
    --badge-margin: 1.5px; /* discord default = 2px, theme defualt = 1.5px */
    --badges-everywhere-size: 15px; /* default = 15px */
}
